#mainPage{
	background-color: lightgray;
	opacity: .9;

}

#masthead{
	border-bottom: 8px solid gray;
	
}

#masthead *{
	display: inline;
	font-size: 2.75rem;

}

#masthead img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 4px solid ;
	margin: 10px;
    
}

main p{font-family: serif;}

body{
	background-color: lightgray;
}


h1{
	font-family: "Oleo Script", Cursive, serif;
	font-size: 3em;
	color: white;
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
}

/****************************** NAVIGATION STYLES **************************************************/



/****************************** FOOTER STYLES **************************************************/

footer *{
	color: white;
}

/****************************** LOGIN STYLES **************************************************/

form *{
	width: 100%;
}

#loginBarTitle{
	color: white;
	display: block;
}

#loginForm{
	padding: 10px;
	box-shadow: 5px 5px 5px black;
	color: white;
}



/****************************** Aside Styles **************************************************/
aside a{
	
}

aside *{
	font-family: serif;
	
}




/****************************** General Form Styles **************************************************/

button, input, select{
	border-radius: 12px;
	font-size: 1.25rem;
	min-height: 50px;

}

.tab-plane{
	min-height: 400px;
}


.fa-check-square{
	color: green;
}


